/* Write your CSS here */
.denomination-item{
    list-style-type: none;
    width: 48%;
    margin-bottom: 16px;
}
.denomination-button{
    background-color: violet;
    font-family: "roboto";
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    border-radius: 1px solid white;
    padding-top: 4px;
    cursor: pointer;
    outline: none;
}
@media screen and (min-width: 768px){
    .denomination-button{
        font-size: 24px;
    }
}










